@import "../../base.scss";

.green {
  color: $text_green;
}
.yellow {
  color: $text_yellow;
}
.orange {
  color: $text_orange;
}
.red {
  color: $text_red;
}
.grey {
  color: $text_grey;
}
.dark_grey {
  color: $text_dark_grey;
}
